<div class="container-fluid" style="margin-top:10px">
	<div style="padding:10px;">
		<div class="top-box row">
			<div class="col col-lg-2">
				<div class="float-left">
					<div class="label">
						Current
					</div>
					<div class="value-num">
						102.2 Cr.
					</div>
				</div>
			</div>
			<div class="col col-lg-2">
				<div class="label">
					Invested
				</div>
				<div class="value-num">
					100 Cr.
				</div>
			</div>
			<div class="col col-lg-3">
				<div class="label">
					Unrealized Gain
				</div>
				<div class="value-num text-success">
					2 Cr.(+22.51%)
				</div>
			</div>
			<div class="col col-lg-3">
				<div class="label">
					1 Day Change.
				</div>
				<div class="value-num text-success">
					6,752 (+1.2%)
				</div>
			</div>
			<div class="col col-lg-2">
				<div class="label">
					Xirr.
				</div>
				<div class="value-num text-success">
					10.08%
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<highcharts-chart [Highcharts]="Highcharts" [constructorType]="'stockChart'" style="width:100%;display: block;"
		[options]="chartOptions">
	</highcharts-chart>
</div>